<!DOCTYPE HTML>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <div class="main-content">
        {{>header}}
        <h3>Muhammad Bilal</h3>
        <img class="portrait" src="/img/me.jpg" alt="my image">
    </div>
        {{>footer}}
    </body>
</html>