<!DOCTYPE HTML>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather.png">
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
    <body>
        <div class="main-content">
        {{>header}}
         <p>Search Your weather</p>
         <form action="">
             <input placeholder="Enter Location">
             <button>search</button>
         </form>
         <p id="mesg-1"></p>
         <p id="mesg-2"></p>
        </div>
        {{>footer}}


     <script src="/js/app.js"></script>
    </body>
</html>